.home-content {
    background-color: #21D0B2;
    color: white;
    margin: 0;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

h1 {
    padding-bottom: 2rem;
    text-decoration: underline;
    text-underline-offset:  1rem;
}

.copyright {
    padding-top: 10rem;
    padding-bottom: .25rem;
    font-size: small;
}

.movie-card-row {
    margin-bottom: 2rem;
}