#root {
  margin: 0 auto;
  padding: 0 2rem;
  background-color: black;
  height: 100%;

  /* to center the app */
  display: flex;
  justify-content: center;
}

.appContainer{
  max-width: 1280px;
  background-image: url('./assets/movieBackground.png');
  background-repeat: no-repeat;
  background-size:cover;
  /* background-attachment: fixed; */

}

.app{
  background-color: rgba(0, 0, 0, 0.4);
}