#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('../public/movieBackground.png');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}
body{

}