#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: black;

  /* to center the app */
  display: flex;
  justify-content: center;
}

.app{
  max-width: 1280px;
  background-repeat: no-repeat;
  background-size:cover;  
}

.background-image{
  opacity: 0.2;
  position: absolute;

}