.navbar{
  /* this needs to be 100% because the element only takes what it needs and not the whole 100% that the parent gives it */
  background: white;
  border-radius: 2rem;
  padding: 0 20rem;
  
}

nav-item{
  padding: 0 70px;
}

.navbar-container{
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around ;
}